div {
  display: block;
  unicode-bidi: isolate;
}

* {
  margin: 0;
  font-family:"Roboto";
  border: border-box;
}
.navbar {
  height: 60px;
  background-color:black;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 540;
}
.home{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name{
  margin-left: 10%;
  margin-bottom: 10%;
  font-size: 25px;
  margin-right: 8%;
}
body{
  background-image: url(background_img.jpeg);
 
}
